<?xml version="1.0" encoding="utf-8" ?>
<!--
Load
- hrp4 model from robot_description
Launch:
- TF static transform from /world to /base_link (null)
- robot_state_publisher
- rviz
-->

<launch>
  <!-- Load HRP-4. -->
  <param name="robot_description" textfile="$(find hrp4c_description)/urdf/hrp4c.urdf" />

  <!-- Create a transform sender for linking these frames. -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Create a transform sender for linking these frames. -->
  <node name="tf_world_to_base" pkg="tf" type="static_transform_publisher" args="0 0 0.6 0 0 0 /world /base_link 40" />

  <!-- Launch rviz -->
  <node name="rviz" pkg="rviz" type="rviz" />
</launch>
